# Track only the curated subset required by Demo.unity, MainTown NPCs, and the
# STYLE crowd-review/runtime wiring. Everything else from the vendor import stays local.
*
!/.gitignore
!/Scene/
!/Scene/Demo.meta
!/Scene/Demo.unity
!/Scene/Demo.unity.meta
!/Scene/Demo/
!/Scene/Demo/**
!/Materials/
!/Materials/Ground.mat
!/Materials/Ground.mat.meta
!/Models/
!/Models/Bg.fbx
!/Models/Bg.fbx.meta
!/Models/Man_Rig_Correct 1.fbx
!/Models/Man_Rig_Correct 1.fbx.meta
!/Models/Woman_Rig_Correct.fbx
!/Models/Woman_Rig_Correct.fbx.meta
!/PPP.asset
!/PPP.asset.meta
!/Textures/
!/Textures/Man/
!/Textures/Man/Body/
!/Textures/Man/Body/**
!/Textures/Man/Boots1/
!/Textures/Man/Boots1/**
!/Textures/Man/Eyes/
!/Textures/Man/Eyes/**
!/Textures/Man/Hair/
!/Textures/Man/Hair/1/
!/Textures/Man/Hair/1/**
!/Textures/Man/Hair/2/
!/Textures/Man/Hair/2/**
!/Textures/Man/Hair/3/
!/Textures/Man/Hair/3/**
!/Textures/Man/Hair/4/
!/Textures/Man/Hair/4/**
!/Textures/Man/Beard/
!/Textures/Man/Beard/1/
!/Textures/Man/Beard/1/**
!/Textures/Man/Beard/6/
!/Textures/Man/Beard/6/**
!/Textures/Man/Beard/7/
!/Textures/Man/Beard/7/**
!/Textures/Man/Beard/8/
!/Textures/Man/Beard/8/**
!/Textures/Man/Beard/10/
!/Textures/Man/Beard/10/**
!/Textures/Man/Jacket/
!/Textures/Man/Jacket/2048/
!/Textures/Man/Jacket/2048/**
!/Textures/Man/Hoody/
!/Textures/Man/Hoody/2048/
!/Textures/Man/Hoody/2048/**
!/Textures/Man/Shirt3/
!/Textures/Man/Shirt3/2048/
!/Textures/Man/Shirt3/2048/**
!/Textures/Man/T-shirt1/
!/Textures/Man/T-shirt1/2048/
!/Textures/Man/T-shirt1/2048/**
!/Textures/Man/T-shirt2/
!/Textures/Man/T-shirt2/2048/
!/Textures/Man/T-shirt2/2048/**
!/Textures/Man/Pants1/
!/Textures/Man/Pants1/2048/
!/Textures/Man/Pants1/2048/**
!/Textures/Man/Brous/
!/Textures/Man/Brous/brous1/
!/Textures/Man/Brous/brous1/2048/
!/Textures/Man/Brous/brous1/2048/**
!/Textures/Man/Brous/brous2/
!/Textures/Man/Brous/brous2/2048/
!/Textures/Man/Brous/brous2/2048/**
!/Textures/Man/Brous/brous3/
!/Textures/Man/Brous/brous3/2048/
!/Textures/Man/Brous/brous3/2048/**
!/Textures/Man/Brous/brous4/
!/Textures/Man/Brous/brous4/2048/
!/Textures/Man/Brous/brous4/2048/**
!/Textures/Man/Brous/brous5/
!/Textures/Man/Brous/brous5/2048/
!/Textures/Man/Brous/brous5/2048/**
!/Textures/Man/Brous/brous6/
!/Textures/Man/Brous/brous6/2048/
!/Textures/Man/Brous/brous6/2048/**
!/Textures/Man/Brous/brous7/
!/Textures/Man/Brous/brous7/2048/
!/Textures/Man/Brous/brous7/2048/**
!/Textures/Man/Brous/brous8/
!/Textures/Man/Brous/brous8/2048/
!/Textures/Man/Brous/brous8/2048/**
!/Textures/Man/Brous/brous9/
!/Textures/Man/Brous/brous9/2048/
!/Textures/Man/Brous/brous9/2048/**
!/Textures/Man/Brous/brous10/
!/Textures/Man/Brous/brous10/2048/
!/Textures/Man/Brous/brous10/2048/**
!/Textures/Woman/
!/Textures/Woman/2048/
!/Textures/Woman/2048/**
!/Textures/Woman/Boots1/
!/Textures/Woman/Boots1/2048/
!/Textures/Woman/Boots1/2048/**
!/Textures/Woman/Eyes/
!/Textures/Woman/Eyes/2048/
!/Textures/Woman/Eyes/2048/**
!/Textures/Woman/Hair/
!/Textures/Woman/Hair/2/
!/Textures/Woman/Hair/2/2048/
!/Textures/Woman/Hair/2/2048/**
!/Textures/Woman/Hair/3/
!/Textures/Woman/Hair/3/2048/
!/Textures/Woman/Hair/3/2048/**
!/Textures/Woman/Jacket/
!/Textures/Woman/Jacket/2048/
!/Textures/Woman/Jacket/2048/**
!/Textures/Woman/Hoody/
!/Textures/Woman/Hoody/2048/
!/Textures/Woman/Hoody/2048/**
!/Textures/Woman/Shirt3/
!/Textures/Woman/Shirt3/2048/
!/Textures/Woman/Shirt3/2048/**
!/Textures/Woman/T-shirt1/
!/Textures/Woman/T-shirt1/2048/
!/Textures/Woman/T-shirt1/2048/**
!/Textures/Woman/T-shirt2/
!/Textures/Woman/T-shirt2/2048/
!/Textures/Woman/T-shirt2/2048/**
!/Textures/Woman/Pants1/
!/Textures/Woman/Pants1/2048/
!/Textures/Woman/Pants1/2048/**
!/Textures/Woman/Brous/
!/Textures/Woman/Brous/brous1/
!/Textures/Woman/Brous/brous1/2048/
!/Textures/Woman/Brous/brous1/2048/**
!/Textures/Woman/Brous/brous2/
!/Textures/Woman/Brous/brous2/2048/
!/Textures/Woman/Brous/brous2/2048/**
!/Textures/Woman/Brous/brous3/
!/Textures/Woman/Brous/brous3/2048/
!/Textures/Woman/Brous/brous3/2048/**
!/Textures/Woman/Brous/brous4/
!/Textures/Woman/Brous/brous4/2048/
!/Textures/Woman/Brous/brous4/2048/**
!/Textures/Woman/Brous/brous5/
!/Textures/Woman/Brous/brous5/2048/
!/Textures/Woman/Brous/brous5/2048/**
!/Textures/Woman/Brous/brous6/
!/Textures/Woman/Brous/brous6/2048/
!/Textures/Woman/Brous/brous6/2048/**
!/Textures/Woman/Brous/brous7/
!/Textures/Woman/Brous/brous7/2048/
!/Textures/Woman/Brous/brous7/2048/**
!/Textures/Woman/Brous/brous8/
!/Textures/Woman/Brous/brous8/2048/
!/Textures/Woman/Brous/brous8/2048/**
!/Textures/Woman/Brous/brous9/
!/Textures/Woman/Brous/brous9/2048/
!/Textures/Woman/Brous/brous9/2048/**
!/Textures/Woman/Brous/brous10/
!/Textures/Woman/Brous/brous10/2048/
!/Textures/Woman/Brous/brous10/2048/**

# Always keep heavyweight vendor-source assets local-only.
/Textures/**/4096.meta
/Textures/**/4096/
/Textures/**/4096/**
*.blend
*.blend.meta
